<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>  
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Nome</th>
        <th>Pefil</th>
        <th>Habilitado</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of users">
        <td>{{ character.deEmail }}</td>
        <td>{{ character.noUser }}</td>  
        <td>{{ character.externalUserFunction.noFunction }}</td>
        <td>{{ character.icSituation }}</td>
        <td></td>
      </tr>
    </tbody>
</table>
</div>


