<div class="container">
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>  
  </div>
  <div class="row">
      <p (click)="showAddUser()">
        Parâmetros > Usuários {{ crumb }}
      </p>
  </div>

  <div class="card">
    <div class="card-header">
      Lista de Usuários
    </div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="getUsersFilter(f.value)" novalidate>
        <div class="form-inline text-align">
          <input  class="form-control col-md-6 my-1 mr-sm-2 " type="text" name="noUser" placeholder="Nome" ngModel>
          <select class="custom-select my-1 mr-sm-2 " name="icSituation" ngModel>
            <option value="" selected>Situação</option>
            <option value="A">Ativo</option>
            <option value="I">Inativo</option>
          </select>

          <select class="custom-select my-1 mr-sm-2 " name="icUserProfile" ngModel>
            <option value="" selected>Perfil</option>
            <option value="0">Aluno</option>
            <option value="1">Gestor Municipal</option>
            <option value="2">Gestor Estadual</option>
            <option value="2">Gestor Nacional</option>
          </select>
          <div class="col-md-2">
            <button class="btn btn-primary btn-sm" type="submit">
              Pesquisar
            </button>
          </div>    
        </div>           
      </form>
    </div>
  </div>

  <div class="card">
      <div class="card-header">
          <div class="input-group">
            <input class="btn btn-primary btn-sm col-md-2" type="button" value="{{ addLabel }}" (click)="showAddUser()" />
            <div class="col-md-4"></div>
            <select class="custom-select col-md-6">
              <option selected>10 registros por página</option>
              <option value="30">30 registros por página</option>
              <option value="50">50 registros por página</option>
              <option value="100">100 registros por página</option>
            </select>
          </div>
      </div>
      <div class="card-body">
        <table class="table table-striped" *ngIf="!showForm">
          <thead>
            <tr>
              <th>E-mail</th>
              <th>Nome</th>
              <th>Pefil</th>
              <th>Habilitado</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.deEmail }}</td>
              <td>{{ user.noUser }}</td>  
              <td>{{ icPerfil[user.icUserProfile] }}</td>
              <td (click)="disableUser(user)">
                  <input type="checkbox"  checked data-toggle="toggle" data-size="xs" *ngIf="user.icSituation == 'A' ">
                  <input type="checkbox"  data-toggle="toggle" data-size="xs" *ngIf="user.icSituation == 'I' ">
              </td>
              <td>
                  <button type="button" class="btn btn-primary  btn-sm" (click)="delete(user)">Remover</button>
              </td>
            </tr>
          </tbody>
          <br />
          <tfoot>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
              </ul>
          </tfoot>
        </table>

        <div *ngIf="showForm">
          <form #f="ngForm" (ngSubmit)="addUser(f.value)">
            <div class="form-inline text-align">
              <div class="form-group col-md-6">
                <input type="email" class="form-control col-md-12" name="deEmail" required placeholder="E-mail" ngModel>
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control col-md-12" name="noUser" required placeholder="Nome" ngModel>
              </div>

              <div class="form-group col-md-3">
                <input type="text" class="form-control col-md-12 my-1 mr-sm-2" name="nuCpf" required placeholder="CPF" ngModel>
              </div>
              <div class="form-group col-md-3">
                <input type="text" class="form-control col-md-12 my-1 mr-sm-2"name="nuPhone" placeholder="Telefone" ngModel>
              </div>

              <div class="form-group col-md-3">
                  <select class="custom-select col-md-12 my-1 mr-sm-2" name="coFunction" required ngModel>
                    <option value="" disabled selected>Função</option>
                    <option value="1">Gestor</option>
                    <option value="2">Administrador</option>
                    <option value="2">Frente de Caixa</option>
                  </select>
                </div>
              <div class="form-group col-md-3">
                <select class="custom-select col-md-12 my-1 mr-sm-2" name="icUserProfile" required ngModel>
                  <option value="" disabled selected>Perfil</option>
                  <option value="0">Aluno</option>
                  <option value="1">Gestor Municipal</option>
                  <option value="2">Gestor Estadual</option>
                  <option value="2">Gestor Nacional</option>
                </select>
              </div>
              <div class="form-group col-md-12 my-1 mr-sm-2">
                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
              </div>
            </div>
          </form>
        </div>  
      </div>
    </div>
</div>


